*{
    font:12px "宋体";
    color:#522a06;
    padding:0px;
    margin:0 auto;
    list-style: none;
}
body{
    background-image: url("../images/bodybg.gif");
}
#header{
    height:164px;
}
img{
    border:0px;
}
a{
    color:#522a06; 
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#banner{
    width:1000px;
    height:110px;
    padding-left: 50px;
}
#banner .logo2{ 
    width:160px;
    height:80px;
    margin-top: 15px;
}
#banner .lll{
    width: 160px;
    height: 80px;
    margin-top: 15px;
    margin-left: 250px;
}
#banner .logo{
    float: right;
    width:160px;
    height:80px;
    margin-top: 15px;
}
#nav{ 
    width:100%; 
    height:40px; 
    background-color:#999;
}
.nav_body{
    width:1000px; 
    background-color:#999；
    margin:0px auto;
}
.nav_content{
    folat:left; 
    width:800px; 
    font-weight: bold; 
    margin-left:-20px;
}
.nav_content li{
    float:left; 
    list-style: none; 
    margin:0px; 
    padding: 0px;
}
.nav_content li a{
    line-height: 40px; 
    color:#fff; display: block; 
    width:80px; 
    font-size: 12px;
    text-align: center; 
    font-weight: bolder; 
}
.nav_content li a:hover{
    color:#f9f603;
    text-decoration: none;
}
.nav_search{
    float:left; 
    width: 188px; 
    padding:10px 0; 
    margin-left:80px;
}
.q input{
    width:140px; 
    height: 19px; 
    background-color:#f8f5ee; 
    float:left; 
    border:1px solid #f8f5ee;
}
.w input{
    width: 44px; 
    height: 21px; 
    background-color:#000; 
    color:#fff;
    border:1px solid #f8f5ee; 
    float:left; 
    margin-left: 0px;
}




#content{
    width:1000px;
    margin-top:15px;
    margin-bottom: 10px;
}
#content .mianbaoxie{
    width:1000px;
    height:40px;
    padding-left: 33px;
    margin-top: -15px;
}
#content .content_left{
    width:250px;
    float: left;
    margin-top: -5px;
}
.content_left .yuantuan{
    width:250px;
    border:2px solid #ccc;
}
.yuantuan ul{
    margin-left: 5px;
}
.yuantuan a img{
    width:100px;
    height:80px;
    margin-top:5px;
    margin-bottom: 5px;
    text-align: center;
    margin-left: 55px;
}
.yuantuan a:hover img{
    filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;
}
.yuantuan .hh{
    margin-left: 50px;
}
.yuantuan .hh1{
    margin-left: 55px;
}
.yuantuan .hh2{
    margin-left:10px;
}
.yuantuan .hh3{
    margin-left:70px;
}
.yuantuan h3{
    width:250px;
    height:30px;
    line-height: 30px;
    background:#f96;
    float: left;
    margin:0px;
    color:white;
    font-size: 16px;
}
.yuantuan .more{
    float: right;
    color:white;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 16px;
}
.dianhua{
    width:250px;
    border:2px solid #ccc;
    margin-top: 10px;
    padding-bottom: 0px;
}
.dianhua img{
    width:250px;
    height:100px;
}
.dianhua a:hover img{
    filter:alpha(Opacity=30);-moz-opacity:0.3;opacity: 0.3;
}
#content .content_right{
    width:720px;
    float:left;
    margin-left: 20px;
    margin-top: -3px;
}
.content_right h1{
    height: 45px;
    background:url("../images/listtitle.png") no-repeat;
    line-height: 45px;
    vertical-align: middle;
    padding-left: 55px;
    font-size: 18px;
    font-family: "微软雅黑";
    font-weight:normal;
    color: #9b3020;
    margin-bottom: 20px;
}   
.tongzhi ul{
    padding-left: 20px;
}
.tongzhi ul li{
    height: 20px;
    font-size: 14px;
    list-style:url("../images/pot.gif");
    padding-top: 8px;
}
.tongzhi ul li span{
    float: right;
    color: #8b6544;
    margin-right: 5px;
}
.nr{
    text-align: center;
    padding-top: 10px;
    padding-left: 150px;
}
.nr a{
    display: block;
    float: left;
    border:1px solid #c9baa5;
    width: 25px;
    height:14px;
    text-decoration: none;
    margin:2px;
}
.nr div{
    float: left;
    width: 25px;
    height: 14px;
    margin:2px;
}
.nr a:hover{
    text-decoration: none;
}
.hui{
    color:#999;
    border:1px solid #c9baa5;
}
.bold{
    font-weight: bold;
}












#footer{
    clear:both;
    width:100%; 
    height: 105px;
    margin-top:1px;
    float: left;
}
#footer .footer_link{
    text-align: center;
}
#footer .footer_link a{
    font-weight: bold;
    line-height: 40px;
    text-decoration: none;
}
#footer .foot1{
    text-align: center; 
    margin-top: 10px;
}
#footer .foot2{
    text-align: center;
    margin-top: 10px;
}